
* {
    margin: 0px;
    padding: 0px;
}

.header{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    align-items: center;
}

.logo {
    height: 60px;
    cursor: pointer;
}

.header > .nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    /* margin: 10px; */
    /* border: 1px solid black; */
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.res-card{
    width: 250px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
}

.restaurant-container {
    margin: 20px 22px;
    display: flex;
    flex-flow: wrap row;
    gap: 10px;
}

.res-card > .food-image{
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.res-content {
    padding: 10px;
}

.sort-btn {
    margin-left: 20px;
    padding: 7px;
    border-radius: 8px;
}

.shimmer-card {
    width: 250px;
    height: 300px;
    background-color: #f0f0f0;
    border: 1px solid black;
    border-radius: 10px;
}

.input-box{
    padding: 5px;
    font-size: 14px;
    width: 400px;
}

.search-btn{
    padding: 5px;
    width: 100px;
    font-size: 14px;
}

.nav-items > ul > li > NavLink {
    text-decoration: none;
}